{% extends "base.html" %}

{% block title %}
| 404 Not Found
{% endblock %}

{% block style %}
<style>
    img {
        animation: floatAnimation 0.92s infinite alternate;
    }

    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container-lg  h-100">
    <div class="d-flex flex-row justify-content-center align-items-center">
        <p class="fs-1 fw-medium">404</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <div class="col-md-6">
            <img src="/static/404.svg" class="img-fluid" alt="atronaut lost in space">
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p>Oops! Seems you got sucked into the void.</p>
        <p>Use the reset button to rewind time!</p>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <button role="button" class="btn rounded-pill border border-3 btn-light" onclick="window.location.assign('/redirect-proxy')">
            Go home.
        </button>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}