<div class="container-lg">
    <div class="d-flex flex-column">
        <div class="row">
            <img src="/static/images/success.svg" alt="success check" class="img-fluid">
        </div>
        <div class="row">
            <p class="fs-1 fw-medium text-success">
                Success!
            </p>
        </div>
        <div class="row">
            <a role="button" class="btn bg-success-subtle rounded">
                Go to homepage
            </a>
        </div>
    </div>
</div>