{% extends "base.html" %}
{% block title %} | Book an appointment {% endblock title %}
<!--TODO-->

{% block content %}
<div class="container-lg">
    <div class="d-flex flex-row pt-2">
        <a href="{{ url_for('core_routes.proxy_redirect') }}" role="button"
            class="btn bg-transparent rounded border border-0">
            <span class="material-symbols-outlined">
                arrow_back_ios_new
            </span>
        </a>
        <div class="col d-block pe-3 me-3">
            <p class="fs-3 fw-medium mb-0 text-center">
                Schedule appointment
            </p>
            <div class="d-md-none d-flex justify-content-center w-100">
                <div class="border border-secondary border-1 w-50 mt-1"></div>
            </div>
        </div>
    </div>
    <div class="container mt-3" style="height: 100vh;">
        <div class="d-flex flex-column gap-3">
            <div class="row">
                <p class="fw-medium">
                    Student number
                </p>
                <p class="fw-lighter">
                    {{ current_user.student.student_number }}
                </p>
            </div>
            <div class="row">
                <p class="fw-medium">
                    Student name
                </p>
                <p class="fw-lighter">
                    {{ current_user.student.student_fullname}}
                </p>
            </div>
            <!--
            <div class="row">
                <p class="fw-medium">
                    Qualification
                </p>
                <p class="fw-lighter">
                    Student name from db based on input student number
                </p>
            </div>
            -->
            <div class="row">
                <label for="bookSelectModule" class="form-label fw-medium">Module</label>
                <select id="bookSelectModule" class="form-select" aria-label="Book Module">
                    <option selected>Choose new module</option>
                    {% for option in module_options %}
                    <option value="{{ option.code }}">{{ option.code }} - {{ option.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <label for="bookSelectDate" class="form-label fw-medium">Date</label>
                <input class="form-control" type="date" id="bookSelectDate" />
            </div>
            <div class="row">
                <label for="bookSelectTimeslot" class="form-label fw-medium">Timeslot</label>
                <select id="bookSelectTimeslot" class="form-select" aria-label="Book timeslot">
                    <option selected>Choose new module</option>
                    
                    <option value="{{ option.slot_id }}">{{ option.slot_label }}</option>
                </select>
            </div>
            <div class="row">
                <label for="bookAppointmentReason" class="form-label fw-medium">Reason for appointment</label>
                <textarea class="form-control" id="bookAppointmentReason" rows="3"></textarea>
            </div>
            <div class="row">
                <a role="button" class="btn bg-success-subtle rounded" id="bookSubmit">
                    Book
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}
<script>
    const collect_submit = document.getElementById('bookSubmit');

    const appointment_module = document.getElementById("bookSelectModule");
    // send a fetch api POST request to get days the selected module is availble 
    const appointment_date = document.getElementById("bookSelectDate");
    const appointment_timeslot = document.getElementById("bookSelectTimeslot");

    collect_submit.addEventListener('click', () => {
        const appointment_module = document.getElementById("bookSelectModule");
        const appointment_timeslot = document.getElementById("bookSelectTimeslot");
        const appointment_reason = document.getElementById("bookAppointmentReason");
        const appointment_date = document.getElementById("bookSelectDate");

        const form_data = { appointment_module: appointment_module.value, appointment_timeslot: appointment_timeslot.value, appointment_reason: appointment_reason.value, appointment_date : appointment_date.value};
        console.log(form_data)
        const endpoint = "/v1/api/schedule_appoinment";
        const requestOptions = {
            method: 'POST' ,
            headers: {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(form_data)
        };

        fetch(endpoint, requestOptions)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was a problem', error);
        })
    });

</script>
{% endblock %}