{% macro self(data=[]) -%}
{% if data %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <th scope="col">Module</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item in data %}
        <tr>
            <th scope="row">{{ item.student_number }}</th>
            <td>{{ item.module_name }}</td>
            <td>{{ item.attendance_date }}</td>
            <td>{{ item.attendance_time }}</td>
            <td>{{ item.attendance_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="d-flex flex column align-items-center h-100">
    <div class="container d-flex justify-content-center ">
        <p class="fs-3 fw-medium text-secondary">
            No items.
        </p>
    </div>
</div>
{% endif %}
{%- endmacro %}